.videobox {
    // height: 1200px;
    // width: 720px;
    height: 93vh;
    width: 93vw;
}

.ButtonArea {
    display: flex;

    .videoButton {
        flex: 1;
        height: 80px;
        font-size: 30px;
        background: linear-gradient(to right, #b3d1ec, #f7f5f5);
        border-color: #b3d1ec;
    }

    .videoButton:active {
        flex: 1;
        height: 80px;
        font-size: 30px;
        background: #d5e2ee;
    }
}